@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
/* Colors */
/* sizes */
/* Fonts */
* {
  box-sizing: border-box;
}

.container-app {
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  transition: 1s linear;
  position: relative;
}

.sidebar {
  background-color: #000000;
  transition: 1s linear;
  overflow: hidden;
}

.container-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #e3e3e3;
  transition: 1s linear;
}

.navigation {
  background-color: #ffffff;
  height: 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-bottom: 2px solid #e3e3e3;
  transition: 1s linear;
}

.container-section {
  height: calc(100vh - 60px);
  overflow-y: scroll;
  padding: 1em;
  transition: 1s linear;
}

.page {
  background: #ffffff;
  border-radius: 4px;
  margin: 1em;
  opacity: 0;
  transition: 1s linear;
  min-width: 220px;
}

.page.active {
  opacity: 100;
}

.page.deactive {
  height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row--after {
  position: relative;
}

.row--after::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: #e3e3e3;
  bottom: 0;
}

@media (max-width: 566px) {
  .col-xs-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xs-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xs-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xs-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .sidebar--change {
    -ms-flex: 0 0 45%;
        flex: 0 0 45%;
    max-width: 45%;
  }
  .container-main--change {
    -ms-flex: 0 55%;
        flex: 0 55%;
    max-width: 55%;
  }
}

@media (min-width: 567px) and (max-width: 766px) {
  .col-sm-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .sidebar--change {
    -ms-flex: 0 0 30%;
        flex: 0 0 30%;
    max-width: 30%;
  }
  .container-main--change {
    -ms-flex: 0 70%;
        flex: 0 70%;
    max-width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
  .sidebar--change {
    -ms-flex: 0 0 7%;
        flex: 0 0 7%;
    max-width: 7%;
  }
  .container-main--change {
    -ms-flex: 0 93%;
        flex: 0 93%;
    max-width: 93%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

.title {
  width: 100%;
}

.title--black {
  background: black;
}

.title--after {
  position: relative;
}

.title--after::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
}

.title-main {
  font-size: 18px;
  color: #a6a6a6;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  white-space: nowrap;
  padding: 20px;
}

.title-page {
  font-size: 16px;
  padding: 20px 10px;
  color: #a6a6a6;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}

.title-section {
  font-size: 16px;
  line-height: 15px;
  color: #a6a6a6;
  font-weight: 700;
}

.title-section--left-padding {
  padding: 0 10px;
}

.text {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
}

.paragraph {
  font-size: 14px;
  line-height: 42px;
  color: #333333;
  font-weight: 300;
  text-align: justify;
}

.link {
  font-size: 14px;
  color: #56819f;
  font-weight: 300;
  text-decoration: none;
}

.link:hover {
  color: #f58220;
}

.link--list {
  font-size: 16px;
  line-height: 17px;
  color: #a6a6a6;
  text-decoration: none;
}

.link--list:hover {
  color: #f58220;
}

.link--number {
  color: #a6a6a6;
}

.link--orange {
  color: #f58220;
}

.icons--margin {
  margin: 5px;
}

.icons--menu {
  margin: 0 25px 0 10px;
}

.icons--veritical {
  display: inline-block;
}

.icons--small::before {
  font-size: 12px;
}

.icons--hover {
  visibility: hidden;
  margin: 0 10px;
}

.icons--after {
  position: relative;
}

.icons--after::after {
  position: absolute;
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  background-color: #f58220;
  top: -3px;
  right: 1px;
  border-radius: 50%;
}

.icons--blue::before {
  color: #56819f;
}

.icons--blue:hover::before {
  color: #f58220;
}

.icons--background-alternative {
  font-size: 14px;
  padding: 13px 13px 14px 13px;
  background-color: #f58220;
  color: #ffffff;
}

.icons--background-alternative:hover {
  padding: 12px 12px 13px 12px;
  background-color: #ffffff;
  color: #f58220;
  border: 1px solid #f58220;
}

.fas--background::before {
  color: #e3e3e3;
  margin: 0 25px 0 0;
}

.list {
  list-style-type: none;
  margin-bottom: 40px;
  width: 100%;
}

.list--center {
  margin: 0 auto;
  text-align: center;
}

.list-number {
  text-align: center;
  margin: 20px 0;
}

.list-icons {
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.list__element {
  padding: 10px;
  white-space: nowrap;
}

.list__element--background {
  position: relative;
}

.list__element--background:hover {
  background-color: #e3e3e3;
}

.list__element--background:hover::after {
  position: absolute;
  content: "";
  display: block;
  left: 0px;
  top: 0;
  width: 3px;
  height: 100%;
  background-color: #f58220;
}

.list__element--horizontal {
  display: inline-block;
}

.list__element--hover:hover {
  background-color: #e3e3e3;
}

.list__element--active {
  background: #e3e3e3;
}

.list__element--before {
  position: relative;
  padding: 20px;
}

.list__element--before::before {
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  width: 1px;
  background-color: #e3e3e3;
  top: 0;
  left: 0;
}

.table-wrapper {
  overflow-x: auto;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

.table {
  border-spacing: 0;
  border-top: 1px solid #e3e3e3;
  width: 100%;
}

.table--middle {
  width: 90%;
}

.table--center {
  margin: 30px auto;
}

.table--no-top-border {
  border-top: 0;
}

.table-head__cell {
  border-bottom: 1px solid #e3e3e3;
  vertical-align: middle;
  text-align: left;
  padding: 10px 5px;
  white-space: nowrap;
}

.table-head__cell:hover .table-head__cell--filter {
  background-color: #e3e3e3;
  color: #000000;
  font-weight: 700;
  padding: 5px;
}

.table-head__cell:hover .table-head__icons {
  color: #000000;
  visibility: visible;
}

.table-head__cell:hover {
  padding: 4px 0;
}

.table-head__icons {
  margin-left: 5px;
  visibility: hidden;
}

.table-body__row:hover {
  background-color: #e3e3e3;
}

.table-body__row:hover .icons--hover {
  visibility: visible;
}

.table-body__row--pointer {
  cursor: pointer;
}

.table-body__cell {
  vertical-align: middle;
  height: 50px;
  border-bottom: 1px solid #e3e3e3;
  padding: 5px;
  white-space: nowrap;
}

.table-body__cell--right {
  text-align: right;
}

.button-wrapper {
  margin: 20px auto;
}

.button {
  background-color: #979797;
  color: #000000;
  border-radius: 3px;
  padding: 15px;
  min-width: 100px;
  width: 150px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 1px;
  border: 0;
}

.button--grey {
  background-color: #858585;
}

.button--alternative {
  background-color: #f58220;
}

.button--orange {
  background-color: #ffa200;
}

.button--large {
  background-color: #e3e3e3;
  min-width: 250px;
  width: 300px;
}

.button-tabs {
  background-color: #e3e3e3;
  position: relative;
  font-size: 14px;
  color: #979797;
  padding: 8px;
  font-weight: 700;
  height: 30px;
  width: 120px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  display: inline-block;
}

.button-tabs:hover {
  background-color: #ffffff;
  border: 2px solid #e3e3e3;
  padding: 6px;
}

.button-tabs::after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #56819f;
  top: 12px;
  left: 10px;
  border-radius: 50%;
}

.button-tabs:hover::after {
  background: #04ae00;
  top: 10px;
  left: 8px;
}

.button-tabs--alternative::after {
  background: #f58220;
}

.form-wrapper {
  margin: 20px auto;
  text-align: center;
}

.input-wrapper {
  margin: 20px auto;
}

.input-wrapper--after {
  position: relative;
  margin-bottom: 60px;
}

.input-wrapper--after::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0.5px;
  background-color: #e3e3e3;
  bottom: -30px;
}

.input-wrapper--border {
  border: 1px solid #e3e3e3;
  display: inline-block;
}

.input-wrapper--border:hover {
  border: 1px solid #979797;
}

.input-wrapper--personal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-wrapper__label {
  color: #979797;
  font-weight: 700;
  letter-spacing: 1px;
  min-width: 150px;
  text-align: left;
  padding: 10px 0;
}

.input-wrapper__label--veritical {
  display: block;
}

.input-wrapper__label--background:hover {
  cursor: pointer;
  background: #e3e3e3;
}

.input-wrapper__input {
  padding: 10px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  width: 300px;
  cursor: pointer;
  outline: 0;
}

.input-wrapper__input:focus, .input-wrapper__input:active, .input-wrapper__input:hover {
  border: 1px solid #979797;
}

.input-wrapper__input--date {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  font-size: 14px;
  display: inline-block;
  width: 150px;
  border-radius: 0;
  background-image: url("../../images/icons/calendar.svg");
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-position: right 28px center;
}

.input-wrapper__input--date:focus, .input-wrapper__input--date:active, .input-wrapper__input--date:hover {
  border: 0;
}

.input-wrapper__input--password {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 10px 10px 30px;
  display: inline-block;
  border-radius: 0;
  background-image: url("../../images/icons/password.svg");
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-position: left 5px center;
}

.input-wrapper__option {
  color: #979797;
  font-weight: 700;
}

.input-wrapper__checkbox {
  margin: 0 10px;
  padding: 10px;
}

.chart {
  margin: 10px auto 20px;
}

@media (max-width: 320px) {
  .navigation {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 40px;
  }
  .list-icons {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .link--list {
    font-size: 12px;
  }
  .list__element--before {
    padding: 10px;
  }
  .navigation {
    position: absolute;
    z-index: 999;
  }
  .icons--menu {
    margin: 0 19px 0 10px;
  }
  .fas--background::before {
    margin: 0 19px 0 0;
  }
  .list__element--hover, .list__element--active {
    padding: 0;
  }
  .table {
    margin: 10px 0;
  }
  .input-wrapper--border {
    margin: 10px;
  }
  .input-wrapper--personal {
    margin: 0 10px;
  }
  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 321px) and (max-width: 408px) {
  .navigation {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 50px;
  }
  .list-icons {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .link--list {
    font-size: 14px;
  }
  .list__element--before {
    padding: 15px;
  }
  .icons--menu {
    margin: 0 30px 0 13px;
  }
  .fas--background::before {
    margin: 0 30px 0 3px;
  }
  .list__element--hover, .list__element--active {
    padding: 0px;
  }
  .table {
    margin: 10px 0;
  }
  .input-wrapper--border {
    margin: 10px;
  }
  .input-wrapper--personal {
    margin: 0 10px;
  }
  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 409px) and (max-width: 415px) {
  .navigation {
    position: absolute;
    width: calc(100% + 16.66667%);
    left: 0;
    bottom: 0;
  }
  .list-icons {
    max-width: 83.33333%;
  }
  .icons--menu {
    margin: 0 30px 0 16px;
  }
  .fas--background::before {
    margin: 0 30px 0 6px;
  }
  .list__element--hover, .list__element--active {
    padding: 2px;
  }
  .table {
    margin: 10px 0;
  }
  .input-wrapper--border {
    margin: 10px;
  }
  .input-wrapper--personal {
    margin: 0 10px;
  }
  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 416px) and (max-width: 478px) {
  .navigation {
    position: absolute;
    width: calc(100% + 16.66667%);
    left: 0;
    bottom: 0;
  }
  .list-icons {
    max-width: 83.33333%;
  }
  .icons--menu {
    margin: 0 30px 0 13px;
  }
  .fas--background::before {
    margin: 0 30px 0 3px;
  }
  .table {
    margin: 10px 0;
  }
  .input-wrapper--border {
    margin: 10px;
  }
  .input-wrapper--personal {
    margin: 0 10px;
  }
  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 479px) and (max-width: 481px) {
  .navigation {
    position: absolute;
    width: calc(100% + 16.66667%);
    left: 0;
    bottom: 0;
  }
  .list-icons {
    max-width: 83.33333%;
  }
  .icons--menu {
    margin: 0 35px 0 20px;
  }
  .fas--background::before {
    margin: 0 35px 0 10px;
  }
  .table {
    margin: 10px 0;
  }
  .input-wrapper--border {
    margin: 10px;
  }
  .input-wrapper--personal {
    margin: 0 10px;
  }
  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 482px) and (max-width: 566px) {
  .navigation {
    position: absolute;
    width: calc(100% + 16.66667%);
    left: 0;
    bottom: 0;
  }
  .list-icons {
    max-width: 83.33333%;
  }
  .icons--menu {
    margin: 0 33px 0 10px;
  }
  .fas--background::before {
    margin: 0 33px 0 0;
  }
  .table {
    margin: 10px 0;
  }
  .input-wrapper--border {
    margin: 10px;
  }
  .input-wrapper--personal {
    margin: 0 10px;
  }
  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 567px) and (max-width: 700px) {
  .icons--menu {
    margin: 0 30px 0 10px;
  }
  .fas--background::before {
    margin: 0 30px 0 0;
  }
}

@media (min-width: 701px) and (max-width: 824px) {
  .icons--menu {
    margin: 0 33px 0 13px;
  }
  .fas--background::before {
    margin: 0 33px 0 3px;
  }
}

@media (min-width: 825px) and (max-width: 991px) {
  .icons--menu {
    margin: 0 33px 0 17px;
  }
  .fas--background::before {
    margin: 0 33px 0 7px;
  }
}
/*# sourceMappingURL=style.css.map */