.input-wrapper {
  margin: 20px auto;
}

.input-wrapper--after {
  position: relative;
  margin-bottom: 60px;
  &::after {
    @include after();
    width: 100%;
    height: 0.5px;
    background-color: $background-color;
    bottom: -30px;
  }
}

.input-wrapper--border {
  border: 1px solid $background-color;
  display: inline-block;
  &:hover {
    border: 1px solid $button-color;
  }
}

.input-wrapper--personal {
  display: flex;
}
