.link {
  font-size: 14px;
  color: #56819f;
  font-weight: 300;
  text-decoration: none;
  &:hover {
    color: $alternative-link-color;
  }
}

.link--list {
  font-size: 16px;
  line-height: 17px;
  color: #a6a6a6;
  text-decoration: none;
  &:hover {
    color: $alternative-link-color;
  }
}

.link--number {
  color: #a6a6a6;
}

.link--orange {
  color: $alternative-link-color;
}
