@media (max-width: 568px) {

  .title {
    margin: 5px;
  }

  .title-main {
    margin: 10px 30% 20px 30%;
    padding: 0;
  }

  .fas--background::before {
    margin: 0 45px 0 0;
  }

  .icon--veritical {
    margin: 10px auto;
    text-align: center;
  }
  
  .list-icon {
    padding: 0;
    font-size: 10px;
    text-align: center;
  }

  .list-number {
    margin: 20px 0;
  }

  .icon--menu {
    margin: 0 60% 0 30%;
  }

  .icon--landscape {
    display: block;
  }

  .icon--after {
    &::after {
      right: 30px;
    }
  }

  .list__element--hover, .list__element--active {
    padding: 0;
  }

  .list__element--horizontal {
    display: block;
  }

  .table {
    margin: 20px 0;
  }

  .form-wrapper {
    text-align: left;
  }

  .input-wrapper__input {
    margin: 5px 0;
    width: 90%;
  }
  
  .input-wrapper__label {
    width: 100%;
    padding: 0;
  }

  .table--middle {
    width: 100%;
  }
}