@media (max-width: 320px) {

  .container-section {
    order: -1;
  }

  .icons--menu {
    margin: 0 19px 0 10px;
  }

  .fas--background::before {
    margin: 0 19px 0 0;
  }

  .list__element--hover, .list__element--active {
    padding: 0;
  }

  .table {
    margin: 10px 0;
  }

  .input-wrapper--border {
    margin: 10px;
  }

  .input-wrapper--personal {
    margin: 0 10px;
  }

  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 321px) and (max-width: 408px) {

  .container-section {
    order: -1;
  }

  .icons--menu {
    margin: 0 30px 0 13px;
  }

  .fas--background::before {
    margin: 0 30px 0 3px;
  }

  .list__element--hover, .list__element--active {
    padding: 0px;
  }

  .table {
    margin: 10px 0;
  }

  .input-wrapper--border {
    margin: 10px;
  }

  .input-wrapper--personal {
    margin: 0 10px;
  }

  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 409px) and (max-width: 415px) {

  .container-section {
    order: -1;
  }

  .icons--menu {
    margin: 0 30px 0 16px;
  }

  .fas--background::before {
    margin: 0 30px 0 6px;
  }

  .list__element--hover, .list__element--active {
    padding: 2px;
  }

  .table {
    margin: 10px 0;
  }

  .input-wrapper--border {
    margin: 10px;
  }

  .input-wrapper--personal {
    margin: 0 10px;
  }

  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 416px) and (max-width: 478px) {

  .container-section {
    order: -1;
  }

  .icons--menu {
    margin: 0 30px 0 13px;
  }

  .fas--background::before {
    margin: 0 30px 0 3px;
  }

  .table {
    margin: 10px 0;
  }

  .input-wrapper--border {
    margin: 10px;
  }

  .input-wrapper--personal {
    margin: 0 10px;
  }

  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 479px) and (max-width: 481px) {

  .container-section {
    order: -1;
  }

  .icons--menu {
    margin: 0 35px 0 20px;
  }

  .fas--background::before {
    margin: 0 35px 0 10px;
  }

  .table {
    margin: 10px 0;
  }

  .input-wrapper--border {
    margin: 10px;
  }

  .input-wrapper--personal {
    margin: 0 10px;
  }

  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 482px) and (max-width: 566px) {

  .container-section {
    order: -1;
  }
  
  .icons--menu {
    margin: 0 33px 0 10px;
  }

  .fas--background::before {
    margin: 0 33px 0 0;
  }

  .table {
    margin: 10px 0;
  }

  .input-wrapper--border {
    margin: 10px;
  }

  .input-wrapper--personal {
    margin: 0 10px;
  }

  .input-wrapper__input {
    width: 100%;
  }
}

@media (min-width: 567px) and (max-width: 700px) {
  .icons--menu {
    margin: 0 30px 0 10px;
  }

  .fas--background::before {
    margin: 0 30px 0 0;
  }
}

@media (min-width: 701px) and (max-width: 824px) {
  .icons--menu {
    margin: 0 33px 0 13px;
  }

  .fas--background::before {
    margin: 0 33px 0 3px;
  }
}

@media (min-width: 825px) and (max-width: 991px) {
  .icons--menu {
    margin: 0 33px 0 17px;
  }

  .fas--background::before {
    margin: 0 33px 0 7px;
  }
}