.table {
  border-spacing: 0;
  border-top: 1px solid $background-color;
  width: 100%;
}

.table--middle{
  width: 90%;
}

.table--center {
  margin: 30px auto;
}

.table--no-top-border {
  border-top: 0;
}
