.table-head__cell {
  border-bottom: 1px solid $background-color;
  vertical-align: middle;
  text-align: left;
  padding: 10px 5px;
  white-space: nowrap;
  &:hover .table-head__cell--filter {
    background-color: $background-color;
    color: $black-color;
    font-weight: 700;
    padding: 5px;
  }
  &:hover .table-head__icon {
    color: $black-color;
    visibility: visible;
  }
  &:hover {
    padding: 4px 0;
  }
}
