// TITLE

.title {
  flex: 0 0 100%;
}

.title--black {
  background: black;
}

.title--after {
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #e3e3e3;
  }
}

.title-main{
  padding: 0 15px;
  font-size: 18px;
  color: #a6a6a6;
  font-family: $main-font;
  font-weight: 700;
  letter-spacing: 1px;
}

.title-page {
  font-size: 16px;
  line-height: 42px;
  color: #a6a6a6;
  font-family: "Roboto";
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding: 0 15px;
  margin: 0;
}

.title-section {
  font-size: 16px;
  line-height: 15px;
  color: #a6a6a6;
  font-family: "Roboto";
  font-weight: 700;
  padding: 0 15px;
}

// TEXT

.text {
  flex: 0 0 100%;
}

.paragraph {
  font-size: 14px;
  line-height: 42px;
  color: #333333;
  font-family: "Roboto";
  font-weight: 300;
  text-align: justify;
}

.link {
  font-size: 14px;
  color: #56819f;
  font-family: "Roboto";
  font-weight: 300;
  text-decoration: none;
  &:hover {
    color: $alternative-link-color;
  }
}

.link--list {
  font-size: 16px;
  line-height: 17px;
  color: #a6a6a6;
  font-family: "Roboto";
  text-decoration: none;
  &:hover {
    color: $alternative-link-color;
  }
}

.link--large {
  font-size: 18px;
  line-height: 17px;
}

.link--orange {
  color: $alternative-link-color;
}

// ICON

.icon {
  margin: 0 10px;
}

.icon--small::before {
  font-size: 12px;
}

.icon--large::before {
  font-size: 30px;
}

.icon--after {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    display: block;
    height: 8px;
    width: 8px;
    background-color: $alternative-link-color;
    top: -15px;
    right: 1px;
    border-radius: 50%;
  }
}

.icon--blue {
  &::before {
    color: $tab-color;
  }
  &:hover::before {
    color: $alternative-link-color;
  }
}

.icon--background-alternative {
  padding: 25px 15px 10px;
  background-color: $alternative-link-color;
  color: $page-color;
}

// LIST

.list {
  list-style-type: none;
  margin-bottom: 40px;
}

.list-number {
  text-align: center;
}

.list-menu--align-left {
  width: 100%;
  padding-left: 0;
}

.list-icon {
  text-align: right;
}

.list__element {
  padding: 5px 10px;
}

.list__element--large {
  padding: 24px 10px 4px 10px;
}

.list__element--background {
  position: relative;
  &:hover {
    background-color: $background-color;
  }
  &:hover::after {
    position: absolute;
    content: "";
    display: block;
    left: 0px;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: $alternative-link-color;
  }
}

.list__element--horizontal {
  display: inline;
  padding: 5px 8px;
}

.list__element--hover:hover {
  background-color: #e3e3e3;
}

.list__element--active {
  background: #e3e3e3;
}

.list__element--before {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    background-color: $background-color;
    top: 0;
    left: 0;
  }
}

// Table

.table {
  margin: 40px;
  border-spacing: 0;
  border-top: 1px solid $background-color;
}

.table--no-top-border {
  border-top: 0;
}

.table-head__cell {
  border-bottom: 1px solid $background-color;
  vertical-align: middle;
  padding: 10px 20px;
  text-align: left;
  &:hover .table-head__cell--filter {
    background-color: $background-color;
    padding: 10px;
  }
  &:hover .table-head__icon {
    display: inline-block;
  }
  &:hover {
    padding: 0 10px;
  }
}

.table-head__icon {
  margin-left: 10px;
  display: none;
}

.table-body__row {
  &:hover {
    background-color: $background-color;
  }
}

.table-body__row--pointer {
  cursor: pointer;
}

.table-body__cell {
  vertical-align: middle;
  height: 50px;
  min-width: 200px;
  border-bottom: 1px solid $background-color;
  padding: 10px 20px;
}

.table-body__cell--right {
  text-align: right;
}

//Button

.button {
  background-color: $button-color;
  color: $black-color;
  border-radius: 3px;
  padding: 15px;
  min-width: 100px;
  width: 150px;
  cursor: pointer;
  font-size: 18px;
  margin: 20px;
  text-align: center;
  color: $page-color;
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 1px;
}

.button--grey {
  background-color: $button-2-color;
}

.button--alternative {
  background-color: $alternative-link-color;
}

.button--orange {
  background-color: $button-3-color;
}

.button--large {
  background-color: $background-color;
  min-width: 250px;
  width: 300px;
}

.button--tabs {
  background-color: $page-color;
  position: relative;
  font-size: 14px;
  color: $button-color;
  padding: 8px;
  font-weight: 700;
  height: 30px;
  width: 70px;
  min-width: 120px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  &:hover {
    background-color: $background-color;
  }
  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background: $tab-color;
    top: 10px;
    left: 10px;
    border-radius: 50%;
  }
}

// INPUT

.input-wrapper {
  margin: 20px;
}

.input-wrapper__label {
  padding: 5px 10px;
  text-transform: uppercase;
  color: $button-color;
  font-weight: 700;
  letter-spacing: 1px;
  width: 200px;
}

.input-wrapper__label--veritical {
  display: block;
}

.input-wrapper__label--background:hover {
  cursor: pointer;
  background: $background-color;
}

.add-border {
  border: 1px solid $background-color;
  &:hover {
    border: 1px solid $button-color;
  }
}

.input-wrapper__input {
  padding: 10px;
  margin: 0;
  border: 1px solid $background-color;
  border-radius: 3px;
  cursor: pointer;
  width: 250px;
  &:focus, &:active {
    outline:0;
    border: 1px solid $button-color;
  }
  &:hover {
    border: 1px solid $button-color;
  }
}

.input-wrapper__input--icon {
  width: 150px;
  border: 0;
  &:focus, &:active {
    border: 0;
  }
  &:hover {
    border: 0;
  }
}

.input-wrapper__option {
  color: $button-color;
  font-weight: 700;
}

.input-wrapper__checkbox {
  margin: 0 10px;
  padding: 10px;
}