@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

/* Colors */
$paragraph-color: #333333;
$brand-main-color: #ff0000;
$button-color: #979797;
$button-2-color: #858585;
$background-color: #e3e3e3;
$alternative-link-color: #f58220;
$button-3-color: #ffa200;
$alternative-tab-color: #04ae00;
$tab-color: #56819f;
$page-color: #ffffff;
$black-color: #000000;

// sizes
$topbar-height: 60px;

// Fonts
$brand-font: 'Roboto', sans-serif;
$paragraph-font: "Open Sans", Helvetica;
$main-font: "Dancing Script", cursive;

